
.ContenedorGeneral{
	margin:auto;
}
.ContenedorCard{
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.ContenedorCards{
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	text-align: center;

}

.ContenedorGraficos{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}
.Contenedor{
	margin-left: 15px;
	margin-right: 15px;
	
}


